<header>
  <h2>Creature Features</h2>
  <h4>Animal News Stories</h4>
</header>
<div class="container">
  <h5>See the latest stuff from National Geographic's animal section. Because animals are the best!</h5>

  <button class="refresh-btn">Latest Articles</button>
  <button class="get-saved-btn">Saved Articles</button>
  <br>
  <h3>Articles:</h3>
  <ul>
    {{#each articles}}
    <h6 class="pub-date">{{this.pub_date}}</h6>
    <h3 class="headline">{{this.headline}}</h3>
    <p class="summary">{{this.summary}}</p>
    <button class="save-article-btn">Save</button>
    <button class="add-note-btn">Note</button>
    <button class="read-btn">Read Article</button>
    <div class="note">
      <button class="edit-note-btn">Edit</button>
      <button class="save-note-btn">Save</button>
      <button class="delet-note-btn">Delete</button>
      <button class="close-note-btn">X</button>
      <div class="note-input">
        <form>
          <input note="note" type="text">
        </form>
      </div>
    </div>
    {{/each}}
  </ul>


</div>